<footer id="footer" class="footer footer-1">
	<!-- Widget Section
	============================================= -->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">
						<h5>About Us</h5>
					</div>
					<div class="footer--widget-content">
						<p>
							With years of experience, SMB Cloud Solutions offers a variety of IT solutions that will cater to every aspect of your technological and operational demands.
							We know that every client is different, so a member of our team will tailor our expertise to your unique needs. Read more to learn about our services and solutions.
						</p>

					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-recent">
					<div class="footer--widget-title">
						<h5>Recent Posts</h5>
					</div>
					<div class="footer--widget-content">
						<div class="entry">
							<div class="entry--meta">Oct 15, 2016</div>
							<div class="entry--title">
								<a href="/home/blogdetail">Four ways to cheer yourself up on the Blue Monday!</a>
							</div>
						</div><!-- .entry end -->
						<div class="entry">
							<div class="entry--meta">Oct 10, 2016</div>
							<div class="entry--title">
								<a href="/home/blogdetail">Old cameras can capture images better than nowdays camera!</a>
							</div>
						</div><!-- .entry end -->
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-newsletter">
					<div class="footer--widget-title">
						<h5>Stay Updated</h5>
					</div>
					<div class="footer--widget-content">
						<p>Don’t miss to follow us & subscribe to our new feeds, kindly fill the form below.</p>
						<form class="form-newsletter">
							<input type="email" name="email" class="form-control" placeholder="Subscribe Our Newsletter">
							<button type="submit"><i class="fa fa-long-arrow-right"></i></button>
						</form>
						<div class="clearfix"></div>
						<div class="social">
							<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-instagram" href="#"><i class="fa fa-instagram"></i></a>
							<a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">

					</div>
					<div class="footer--widget-content">

						<img src="~/assets/images/logo/logo-light.png" />
						<ul class="list-unstyled mb-0 mt-30">
							<li><span>Call:</span> 002 01065370701</li>
							<li><span>Email:</span>smb@smbcloudsolutions.com.au</li>
							<li><span>Visit:</span> 22 Albahr St, Tanta, Egypt</li>
						</ul>
					</div>
				</div><!-- .col-md-3 end -->
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-widget end -->
	<!-- Copyrights
	============================================= -->
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-6">
					<div class="footer--copyright">
						<span>&copy; 2021 SMB cloud solution, web design by</span> <a href="#">ZavoshSoftware</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="footer--links pull-right pull-none-xs">
						<ul class="list-inline mb-0">
							<li><a href="/home/about">About</a></li>
							<li><a href="/home/bloglist">Blog</a></li>
							<li><a href="/home/">Privacy Policy</a></li>
							<li><a href="/home/service">service</a></li>
							<li><a href="/home/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-copyright end -->
</footer>