
@{
		Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="With years of experience, SMB Cloud Solutions offers a variety of IT solutions that will cater to every aspect of your technological and operational demands.">
	<link href="/assets/images/favicon/icon30x30.png" rel="icon">

	<!-- Fonts
	============================================= -->
	<link href='http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CDroid+Serif:400,400i,700,700i' rel='stylesheet' type='text/css'>

	<!-- Stylesheets
	============================================= -->
	<link href="/assets/css/external.css" rel="stylesheet">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet">


	<!-- RS5.0 Main Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="/assets/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="/assets/revolution/css/navigation.css"> 


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->

 
	<title>SMB Cloud Solution</title>
</head>
<body>
 
<div id="wrapper" class="wrapper clearfix">
		@Html.Partial("FrontEnd/_MenuPartial")
		@RenderBody()
		@Html.Partial("FrontEnd/_FooterPartial")
		
</div> 
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="/assets/js/rsconfig.js"></script>
	<script src="~/Scripts/function.js"></script>

</body>
</html>
