<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
			<!-- nav -->
			<nav class="nav-primary hidden-xs">
				<ul class="nav">
					<li class="menuitem"><a href="/services"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت خدمات</span></a></li>
					<li class="menuitem"><a href="/servicecomments"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت نظرات خدمات</span></a></li>
					<li class="menuitem"><a href="/Sliders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر اسلایدر</span></a></li>

					<li class="menuitem"><a href="/bloggroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه مقالات</span></a></li>
					<li class="menuitem"><a href="/blogs"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت مقالات</span></a></li>
					<li class="menuitem"><a href="/blogcomments"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت نظرات مقالات</span></a></li>



					<li id="blogLi" class="menuitem">
						<a href="#">
							<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت متن ها</span>
						</a>
						<ul class="nav lt">
							<li>
								<a href="/TextItems/index/b37f639c-d617-4f2c-9428-80d0fe96b72b">
									<i class="fa fa-angle-left"></i><span>Home page - section 2 Master</span>
								</a>
							</li>
							<li>
								<a href="/TextItems/index/9afb8da2-c8d1-472d-b2f6-6b570a09af2b">
									<i class="fa fa-angle-left"></i><span>Home page - section 2 Detail</span>
								</a>
							</li>

							<li>
								<a href="/TextItems/index/9359c629-65e8-4fa1-9c67-81e0b043bb41">
									<i class="fa fa-angle-left"></i><span>Home page - section 3 Features</span>
								</a>
							</li>
							<li>
								<a href="/TextItems/index/8655ffed-c0ce-480d-b08d-d8b5db1826a9">
									<i class="fa fa-angle-left"></i><span>Home page - section 3 Skills master</span>
								</a>
							</li>
							<li>
								<a href="/TextItems/index/68f0b664-b322-4bdf-b3c6-9fc092cc31a5">
									<i class="fa fa-angle-left"></i><span>Home page - section 3 Skills Detail</span>
								</a>
							</li>
							<li>
								<a href="/TextItems/index/9e640485-a7fe-474a-a57b-bb726a8eb0ef">
									<i class="fa fa-angle-left"></i><span>Footer</span>
								</a>
							</li>
						</ul>
					</li>

					<li class="menuitem"><a href="/teams"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت افراد تیم</span></a></li>
					<li class="menuitem"><a href="/Testimonials"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت testimonial</span></a></li>
					<li class="menuitem"><a href="/clients"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت لوگو مشتریان</span></a></li>
					<li class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>

				</ul>
			</nav>
		</div>
	</section>
</section>
