<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
			<!-- nav -->
			<nav class="nav-primary hidden-xs">
				<ul class="nav">
					<li class="menuitem"><a href="/servicegroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه خدمات</span></a></li>
					<li class="menuitem"><a href="/services"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت خدمات</span></a></li>
					<li class="menuitem"><a href="/Sliders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر اسلایدر</span></a></li>
					
					<li class="menuitem"><a href="/bloggroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه مقالات</span></a></li>
					<li class="menuitem"><a href="/blogs"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت مقالات</span></a></li>					<li class="menuitem"><a href="/galleries"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر گالری</span></a></li>
                    <li class="menuitem"><a href="/galleryGroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه تصاویر گالری</span></a></li>

					<li class="menuitem"><a href="/galleries"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر گالری</span></a></li>
					
					
					<li id="blogLi" class="menuitem">
						<a href="#">
							<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت متن ها</span>
						</a>
						<ul class="nav lt">
							<li>
								<a href="/TextItems/index/6d9a5735-19cb-4489-b630-bd1866c05536">
									<i class="fa fa-angle-left"></i><span>مدیریت متن صفحه درباره ما</span>
								</a>
							</li>
                            <li>
                                <a href="/TextItems/index/77e428d8-b84b-4bbc-8609-d90351f72b0f">
                                    <i class="fa fa-angle-left"></i><span>چرا مرجان کریمی صفحه درباره ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/3002607a-6981-4707-847d-ab17e9c251af">
                                    <i class="fa fa-angle-left"></i><span>اعداد صفحه درباره ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/a0d0170e-ab6e-42ac-baf7-fe31dbd7e08e">
                                    <i class="fa fa-angle-left"></i><span>تماس با من صفحه درباه ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/67ec28f5-8312-47da-8e9d-c09a7eabc4aa">
                                    <i class="fa fa-angle-left"></i><span>متن صفحه تماس با ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/0c3aa3aa-5c76-45da-ad50-f8aaa2af2512">
                                    <i class="fa fa-angle-left"></i><span>چرا مرجان کریمی صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/37957e03-5a42-4a6a-aef2-2850fc2b649f">
                                    <i class="fa fa-angle-left"></i><span>اعداد صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TextItems/index/31bd6982-3e75-435f-b5ed-1e05f10267d0">
                                    <i class="fa fa-angle-left"></i><span>توضیحات فوتر</span>
                                </a>
                            </li>
						</ul>
					</li>
					
					<li class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>

				</ul>
			</nav>
		</div>
	</section>
</section>
