
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<img src="/assets/images/page-title/title-22.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="title title-8 text-center">
					<div class="title--content">
						<ol class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li class="active">grid</li>
						</ol>
						<div class="title--heading">
							<h1>SMB Blog</h1>
						</div>
						<div class="title--desc">
							<p>Follow our latest news and thoughts which focuses exclusively on cloud, OFFICE 365 , Azure, and also our latest work updates.</p>
						</div>
					</div>
				</div><!-- .title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #page-title end -->
<!-- Blog Grid
============================================= -->
<section id="blog" class="blog blog-grid">
	<div class="container">
		<div class="row">
			<!-- Blog Entry #1 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/1.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
					</div>
					<div class="entry--content">
						UX Designer is still a relatively profession, and one that is still being defined.  Emilia suggests it is an often...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #2 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/2.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">Old cameras can capture images better than nowdays</a></h4>
					</div>
					<div class="entry--content">
						Actually, Woodstock was not the first outdoor festival to feature multiple bands over several days performing...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #3 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/3.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">New subway line has the most advanced technology</a></h4>
					</div>
					<div class="entry--content">
						That may be true, but today, almost half a century later, Gary Eagle says it was only part of the story...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #4 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/4.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">7 Signs You’re Not A Good UX Designer Yet!Discussion</a></h4>
					</div>
					<div class="entry--content">
						UX Designer is still a relatively profession, and one that is still being defined.  Emilia suggests it is an often...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #5 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/1.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">15 Money Tips To Make You Rich In the end of 2015</a></h4>
					</div>
					<div class="entry--content">
						To make 2015 your most lucrative year yet, you may have to do some things differently than what you've...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #6 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/6.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">Don’t miss Top Things To Do In San Francisco </a></h4>
					</div>
					<div class="entry--content">
						As the shimmering "City by the Bay," San Francisco’s distinctive terrain – water on one side, hills on the other
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #7 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/7.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
					</div>
					<div class="entry--content">
						The third Monday of January is supposed to be a depressing day of year. Whether you believe that or not...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #8 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/8.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">Old cameras can capture images better than nowdays</a></h4>
					</div>
					<div class="entry--content">
						UX Designer is still a relatively profession, and one that is still being defined.  Emilia suggests it is an often...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
			<!-- Blog Entry #9 -->
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="blog-entry">
					<div class="entry--img">
						<a href="/home/blogdetail">
							<img src="/assets/images/blog/grid/9.jpg" alt="entry image" />
						</a>
					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span>   /
						<span><a href="/home/bloglist">category 1</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="/home/blogdetail">New subway line has the most advanced technology</a></h4>
					</div>
					<div class="entry--content">
						That may be true, but today, almost half a century later, Gary Eagle says it was only part of the story...
					</div>
					<div class="entry--more">
						<a href="/home/blogdetail">read more</a>
					</div>
				</div><!-- .blog-entry end -->
			</div><!-- .col-md-4 end -->
		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-20 text--center">
				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="/home/bloglist">2</a></li>
					<li><a href="/home/bloglist">3</a></li>
					<li>
						<a href="/home/blogdetail" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
						</a>
					</li>
				</ul>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>