
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}
<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section">
		<img src="/assets/images/page-title/title-9.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1 class="text--uppercase">What Is A Cloud Based Solution?</h1>
						</div>
						<div class="title--desc">
							<p>								A cloud based solution refers to on-demand services, computer networks, storage, applications or resources accessed via the internet and through another provider’s shared cloud computing infrastructure.
</p>
						</div>
					</div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->
<!-- Blog Standard Right Sidebar
===
=== === === === === === === === === === === === === === -->
<section id="blog" class="blog blog-single">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<!-- Search
				===
				=== === === === === === === === === === === === === === -->
				<div class="widget widget-search">
					<div class="widget--content">
						<form class="form-search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Type Your Search Words">
								<span class="input-group-btn">
									<button class="btn" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
							<!-- /input-group -->
						</form>
					</div>
				</div> <!-- .widget-search end -->
				<!-- Categories
				===
				=== === === === === === === === === === === === === === -->
				<div class="widget widget-categories">
					<div class="widget--title">
						<h5>Blog categories</h5>
					</div>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<div class="widget--content">
						<ul class="list-unstyled">
							<li>
								<a href="/home/bloglist">social analytics<span>(20)</span></a>
							</li>
							<li>
								<a href="/home/bloglist">security<span>(16)</span></a>
							</li>
							<li>
								<a href="/home/bloglist">engagement<span>(19)</span></a>
							</li>
							<li>
								<a href="/home/bloglist">listening<span>(200)</span></a>
							</li>
							<li>
								<a href="/home/bloglist">callabaration<span>(600)</span></a>
							</li>
							<li>
								<a href="/home/bloglist">web applications<span>(59)</span></a>
							</li>
						</ul>
					</div>
				</div> <!-- .widget-categories end -->
				<!-- Recent Posts
							============================================= -->
				<div class="widget widget-recent-posts">
					<div class="widget--title">
						<h5>recent posts</h5>
					</div>
					<div class="divider--line">
						<i class="divider divider--1"></i>
						<i class="divider divider--2"></i>
						<i class="divider divider--3"></i>
						<i class="divider divider--4"></i>
					</div>
					<div class="widget--content">
						<div class="entry">
							<img src="/assets/images/blog/thumb/1.jpg" alt="title" />
							<div class="entry-desc">
								<div class="entry-title">
									<a href="/home/blogdetail">Four ways to yourself up on the Blue Monday!</a>
								</div>
								<div class="entry-meta">
									<a href="#">Oct 15, 2016</a>
								</div>
							</div>
						</div><!-- .recent-entry end -->

						<div class="entry">
							<img src="/assets/images/blog/thumb/2.jpg" alt="title" />
							<div class="entry-desc">
								<div class="entry-title">
									<a href="/home/blogdetail">Old cameras can capture images better!</a>
								</div>
								<div class="entry-meta">
									<a href="#">Oct 15, 2016</a>
								</div>
							</div>
						</div><!-- .recent-entry end -->

					</div>
				</div><!-- .widget-recent end -->
		 
			</div>
			<!-- .col-md-3 end -->
			<div class="col-xs-12 col-sm-12 col-md-9">
				<!-- Blog Entry -->
				<div class="blog-entry">
					<div class="entry--img">
						<a href="#">
							<img src="/assets/images/blog/standard/3.jpg" alt="entry image" />
						</a>

					</div>
					<div class="entry--meta">
						<span>Oct 25, 2016</span> / <span>comments <a href="#">11</a></span> /
						<span><a href="#">Business</a></span>
					</div>
					<div class="entry--title">
						<h4><a href="#">Four ways to cheer yourself up on the Next Blue Monday!</a></h4>
					</div>
					<div class="entry--content">
						<p>
							
							A cloud based solution refers to on-demand services, computer networks, storage, applications or resources accessed via the internet and through another provider’s shared cloud computing infrastructure. 
						</p>			<p>
							
							A cloud based solution refers to on-demand services, computer networks, storage, applications or resources accessed via the internet and through another provider’s shared cloud computing infrastructure. 
						</p>			<p>
							
							A cloud based solution refers to on-demand services, computer networks, storage, applications or resources accessed via the internet and through another provider’s shared cloud computing infrastructure. 
						</p>			<p>
							
							A cloud based solution refers to on-demand services, computer networks, storage, applications or resources accessed via the internet and through another provider’s shared cloud computing infrastructure. 
						</p>

					</div>
					<div class="entry--share">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								<h5 class="share--title">share this article: </h5>
							</div>
							<!-- .col-md-6 end -->
							<div class="col-xs-12 col-sm-12 col-md-6 pull-right text-right">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
							<!-- .col-md-6 end -->
						</div>
						<!-- .row end -->
					</div>
					<!-- .entry-share end -->
				</div>
				<!-- .blog-entry end -->

				<div class="entry-prev-next clearfix">
					<div class="entry-prev">
						<div class="entry-prev-content">
							<img src="/assets/images/blog/thumb/1.jpg" alt="title" />
							<div class="entry-desc">
								<p>previous post</p>
								<a href="/home/blogdetail">Four ways to cheer yourself up on the Blue Monday!</a>
							</div>
						</div>
					</div>
					<div class="entry-next">
						<div class="entry-next-content">
							<img src="/assets/images/blog/thumb/2.jpg" alt="title" />
							<div class="entry-desc">
								<p>next post</p>
								<a href="/home/blogdetail">Old cameras can capture images better than nowdays camera!</a>
							</div>
						</div>
					</div>
				</div>
				<!-- .entry-prev-next end -->

				<div class="entry-widget entry-bio clearfix">
					<div class="entry-widget-title">
						<h4>about author</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<img src="/assets/images/team/thumb/1.jpg" />
						<div class="entry-bio-desc">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,</p>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-vimeo-square"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-rss"></i></a>
						</div>
					</div>
				</div>
				<!-- .entry-bio end -->

				<div class="entry-widget entry-related clearfix">
					<div class="entry-widget-title">
						<h4>related posts</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<div class="row">
							<!-- Related Post #1 -->
							<div class="col-xs-12 col-sm-4 col-md-4 entry">
								<div class="entry--img">
									<a href="/home/blogdetail">
										<img src="/assets/images/blog/small/1.jpg" alt="title" />
									</a>

								</div>
								<div class="entry--title">
									<h5><a href="/home/blogdetail">Old cameras can capture images better than nowdays</a></h5>
								</div>
								<div class="entry--meta">
									<span>Oct 25, 2016</span>
								</div>
							</div>

							<!-- Related Post #2 -->
							<div class="col-xs-12 col-sm-4 col-md-4 entry">
								<div class="entry--img">
									<a href="#">
										<img src="/assets/images/blog/small/2.jpg" alt="title" />
									</a>

								</div>
								<div class="entry--title">
									<h5><a href="/home/blogdetail">New subway line has the most advanced technology in</a></h5>
								</div>
								<div class="entry--meta">
									<span>Oct 25, 2017</span>
								</div>
							</div>
							<!-- Related Post #3 -->
							<div class="col-xs-12 col-sm-4 col-md-4 entry">
								<div class="entry--img">
									<a href="#">
										<img src="/assets/images/blog/small/3.jpg" alt="title" />
									</a>

								</div>
								<div class="entry--title">
									<h5><a href="#">7 Signs You’re Not A UX Designer Yet</a></h5>
								</div>
								<div class="entry--meta">
									<span>Oct 25, 2017</span>
								</div>
							</div>

						</div>
						<!-- .row end -->
					</div>
				</div>
				<!-- .entry-related end -->
				<div class="entry-widget entry-comments clearfix">
					<div class="entry-widget-title">
						<h4>3 comments</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<ul class="comments-list">
							<li class="comment-body">
								<div class="avatar">
									<img src="/assets/images/team/thumb/2.png" alt="avatar" />
								</div>
								<div class="comment">
									<h6>ayman fikry</h6>
									<div class="date">Jan 28, 2016 - 08:07 pm</div>
									<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
									<a class="reply" href="#">reply</a>
								</div>
							</li>
							<!-- comment end -->

							<li class="comment-body">
								<div class="avatar">
									<img src="/assets/images/team/thumb/3.png" alt="avatar" />
								</div>
								<div class="comment">
									<h6>Mohamed Habaza</h6>
									<div class="date">Jan 28, 2016 - 10:07 pm</div>
									<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
									<a class="reply" href="#">reply</a>
								</div>

								<ul class="comment-children">
									<li class="comment-body">
										<div class="avatar">
											<img src="/assets/images/team/thumb/2.png" alt="avatar" />
										</div>
										<div class="comment">
											<h6>Mahmoud Baghagho</h6>
											<div class="date">Jan 28, 2016 - 10:07 pm</div>
											<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
											<a class="reply" href="#">reply</a>
										</div>
										<ul class="comment-children">
											<li class="comment-body">
												<div class="avatar">
													<img src="/assets/images/team/thumb/2.png" alt="avatar" />
												</div>
												<div class="comment">
													<h6>Ahmed Hassan</h6>
													<div class="date">Jan 28, 2016 - 10:30 pm</div>
													<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
													<a class="reply" href="#">reply</a>
												</div>
											</li>
											<!-- comment end -->
										</ul>
									</li>
									<!-- comment end -->

									<li class="comment-body">
										<div class="avatar">
											<img src="/assets/images/team/thumb/2.png" alt="avatar" />
										</div>
										<div class="comment">
											<h6>ayman fikry</h6>
											<div class="date">Jan 28, 2016 - 08:07 pm</div>
											<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
											<a class="reply" href="#">reply</a>
										</div>
									</li>
									<!-- comment end -->

								</ul>
								<!-- .comment-children end -->
							</li>
							<!-- comment end -->

							<li class="comment-body">
								<div class="avatar">
									<img src="/assets/images/team/thumb/2.png" alt="avatar" />
								</div>
								<div class="comment">
									<h6>Ahmed Hassan</h6>
									<div class="date">Jan 28, 2016 - 10:30 pm</div>
									<p>The example about the mattress sizing page you mentioned in the last WBF can be a perfect example of new keywords and content, and broadening the funnel as well. I can only imagine the sale numbers if that was the site of a mattress selling company.</p>
									<a class="reply" href="#">reply</a>
								</div>
							</li>
							<!-- comment end -->

						</ul>
						<!-- .comments-list end -->
					</div>
				</div>
				<!-- .entry-comments end -->

				<div class="entry-widget entry-add-comment mb-0 clearfix">
					<div class="entry-widget-title">
						<h4>Leave A Reply</h4>
						<div class="divider--line">
							<i class="divider divider--1"></i>
							<i class="divider divider--2"></i>
							<i class="divider divider--3"></i>
							<i class="divider divider--4"></i>
						</div>
					</div>
					<div class="entry-widget-content">
						<form id="post-comment" class="mb-0">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6">
									<input type="text" class="form-control" id="first-name" placeholder="First Name:" />
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6">
									<input type="text" class="form-control" id="last-name" placeholder="Last Name:" />
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6">
									<input type="email" class="form-control" id="email" placeholder="Email:" />
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6">
									<input type="text" class="form-control" id="website" placeholder="website:" />
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<textarea class="form-control" id="comment" rows="2" placeholder="Comment"></textarea>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<button type="submit" class="btn btn--primary btn--block">Post Your Comment</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- .entry-comments end -->

			</div>
			<!-- .col-md-9 end -->

		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>